# 1.Manipulate Using a List
   i) To add new elements to the end of the list
  ii) To reverse elements in a list
 iii) To Display same list of elements multiple times
  iv) To concatenate Two lists
   v) To sort the elements in the list in ascending order

In [1]:
list1=[20,14,85,53,98,47,34]
print(list1)

[20, 14, 85, 53, 98, 47, 34]

In [2]:
list1.append(15)
print(list1)

[20, 14, 85, 53, 98, 47, 34, 15]

In [3]:
list1.reverse();
print(list1)

[15, 34, 47, 98, 53, 85, 14, 20]

In [4]:
5 * list1

[15,
 34,
 47,
 98,
 53,
 85,
 14,
 20,
 15,
 34,
 47,
 98,
 53,
 85,
 14,
 20,
 15,
 34,
 47,
 98,
 53,
 85,
 14,
 20,
 15,
 34,
 47,
 98,
 53,
 85,
 14,
 20,
 15,
 34,
 47,
 98,
 53,
 85,
 14,
 20]

In [5]:
list2=["ram","chandra","ganesh","pavan"]
print(list1 + list2)

[15, 34, 47, 98, 53, 85, 14, 20, 'ram', 'chandra', 'ganesh', 'pavan']

In [6]:
list1.sort()
print(list1)

[14, 15, 20, 34, 47, 53, 85, 98]

# 2.write python program to do in the tuples
   i) manipulate using the tuples
  ii) To add new elements at the end of the Tuple
 iii) To reverse elements in the Tuple
  iv) To display the elments of same Tuple Multiple Times
   v) To concatenate Two Tuples
  vi)  To sort elements in the ascending order

In [7]:
tuple1=(18,34,101,43,67,9,23,55,48)
print(tuple1)

(18, 34, 101, 43, 67, 9, 23, 55, 48)

In [8]:
tuple2=(20,5)
tuple1 += tuple2
print(tuple1)

(18, 34, 101, 43, 67, 9, 23, 55, 48, 20, 5)

In [14]:
rev_tuple1=tuple1[::-1]
print(rev_tuple1)

(5, 20, 48, 55, 23, 9, 67, 43, 101, 34, 18)

In [15]:
3 * tuple1

(18,
 34,
 101,
 43,
 67,
 9,
 23,
 55,
 48,
 20,
 5,
 18,
 34,
 101,
 43,
 67,
 9,
 23,
 55,
 48,
 20,
 5,
 18,
 34,
 101,
 43,
 67,
 9,
 23,
 55,
 48,
 20,
 5)

In [16]:
tuple3=("python","java","Angular","React")
print(tuple1+tuple3)

(18, 34, 101, 43, 67, 9, 23, 55, 48, 20, 5, 'python', 'java', 'Angular', 'React')

In [19]:
sorted_tuple=tuple(sorted(tuple1))
print(sorted_tuple)

(5, 9, 18, 20, 23, 34, 43, 48, 55, 67, 101)

# 3. write a program to implement the following using list
   i) create a list with integers (minimum 10 numbers)
  ii) display the last number in the list
 iii) command for displaying the values from the list [0:4]
  iv) command for displaying the values from the list [2:]
   v) command for displaying the values from the list [:6]

In [20]:
num_list=[13,65,44,8,45,87,32,4,68,99]

In [21]:
print(num_list[-1])

99

In [22]:
num_list[0:4]

[13, 65, 44, 8]

In [23]:
num_list[2:]

[44, 8, 45, 87, 32, 4, 68, 99]

In [25]:
num_list[:6]

[13, 65, 44, 8, 45, 87]

# 4.Write a python program : tuple4 =(10,50,20,40,30)
   i) To display the elements 10 and 50 from tuple4
  ii) To display the Length of the tuple4
 iii) To find the Minimum element from tuple4
  iv) To add all elements in the Tuple4
   v) To display same tuple multiple times

In [26]:
tuple4=(10,50,20,40,30)

In [27]:
tuple4[0:2]

(10, 50)

In [28]:
len(tuple4)

5

In [29]:
min(tuple4)

10

In [30]:
sum(tuple4)

150

In [34]:
6 * tuple4

(10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30,
 10,
 50,
 20,
 40,
 30)

# 5. write a Python Program:
   i) To calculate the length of string
  ii) To reverse a word in the string
 iii) To Display same string multiple times
  iv) To Concatenate Two Strings
   v) str1="South India", using string slicing to display "India"

In [40]:
sample1="Machine Learning "
len(sample1)

17

In [41]:
sample1[::-1]

' gninraeL enihcaM'

In [43]:
3 * sample1

'Machine Learning Machine Learning Machine Learning '

In [44]:
sample2= "Artificial Intelligence & "
print(sample2 + sample1)

Artificial Intelligence & Machine Learning

In [51]:
str1="South India"
str1[-5:]

'India'

# 6.Perform the following:
   i) Creating the Dictionary
  ii) Accessing the values in Dictionary
 iii) Updating Dictionary using the functions
  iv) clear and delete values in the Dictionary

In [52]:
my_dict={"Brand": "Realme", "Model": "Realme 9", "RAM": "8 GB"}

In [60]:
print(my_dict)
print(my_dict.get('Model'))
my_dict.keys()
my_dict.values()

{'Brand': 'Realme', 'Model': 'Realme 9', 'RAM': '8 GB'}
Realme 9

dict_values(['Realme', 'Realme 9', '8 GB'])

In [62]:
my_dict["RAM"]="6 GB"
print(my_dict)

{'Brand': 'Realme', 'Model': 'Realme 9', 'RAM': '6 GB'}

In [64]:
my_dict.clear()
print(my_dict)

{}

# 7. Python Program to insert  a number to any position in a list

In [65]:
my_list=[11,3,5,8,48,32,54]

In [71]:
print(my_list)
elem=int(input("enter the element to insert :"))
pos=int(input("enter the position of element to be insert :"))
my_list.insert(pos,elem)
print(my_list)

[12, 11, 3, 5, 8, 48, 14, 32, 54]
enter the element to insert :5
enter the position of element to be insert :1
[12, 5, 11, 3, 5, 8, 48, 14, 32, 54]

# 8. Python Program to delete an element from a list by index

In [77]:
print(my_list)
index=int(input("enter the position of element to delete :"))
my_list.pop(index)
print("List after deleting :")
print(my_list)

[5, 8, 48, 14, 32, 54]
enter the position of element to delete :4
List after deleting :
[5, 8, 48, 14, 54]

# 9. Write a Python Program to display numbers from 1 to 100

In [ ]:
 for i in range(1,101):
    print(i, end=" ")

# 10. Write a python Program to find sum of all items in a tuple

In [81]:
number_tuple=(20,11,54,87,31,7,45)
print("the sum of all elements in a tuple = ", sum(number_tuple))

the sum of all elements in a tuple =  255

# CONTROL STRUCTURES

# 1. write a python program to find first N prime numbers

In [110]:
num=int(input("enter the N value :"))
x=1;
n=0;
while(1):
    c=0;
    for j in range(1,x+1):
        a=x%j;
        if a==0:
            c=c+1;
    if c==2:
            n=n+1;
            print(x);
    if n==num:
         break;
    x=x+1;

enter the N value :7
2
3
5
7
11
13
17

# 2.Write a python code that clculates the salary of an employee. prompt the user to enter the Basic salary, HRA, TA, and DA. Add these components to calculate the gross salary. Also, Deduct 10% of salary from gross salary to be paid as tax and display gross minus tax as net salary.

In [113]:
basic_sal=int(input("Enter the Basic Salary :" ));
hra=int(input("enter the HRA : "));
ta=int(input("enter the TA :"));
da=int(input("enter the DA : "));
gross_sal=basic_sal+hra+ta+da;
tax=0.10 * gross_sal;
net_sal=gross_sal - tax;
print("The Net Salary of the Employee = " ,net_sal);

Enter the Basic Salary :10000
enter the HRA : 3000
enter the TA :2000
enter the DA : 2500
The Net Salary of the Employee =  15750.0

# 3. write a python program to search for a string in given list

In [119]:
courses=['python','c','java','testing','angular','react','html']
s=input("enter the string to search :")
if s in courses:
    print(s+" is present in the list")
if s not in courses :
    print(s+ "is not in the list")

enter the string to search :java
java is present in the list

# 4. write a python fuction that accepts a string that calculates the number of Upper-case letters and lower-case letters

In [121]:
inp_str=input("Enter string:")
count1=0
count2=0
for i in inp_str:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

Enter string:MaCHine LEArnig
The number of lowercase characters is:
8
The number of uppercase characters is:
6

# 5. write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [124]:
even_sum=0;
odd_sum=0;
for i in range(12,38):
    if i%2==0:
        even_sum=even_sum+i;
    else:
        odd_sum=odd_sum+i;
        
print("sum of odd numbers = " ,odd_sum)
print("sum of even numbers = ",even_sum)

sum of odd numbers =  325
sum of even numbers =  312

# 6.write a python program to print table of any number

In [129]:
num=int(input("enter the number : "))
mul=1;
for i in range(1,11):
    mul=i*num;
    print(num,"*", i ,"=", mul);

enter the number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 7. write a python program to print sum of first 10  prime numbers

In [132]:
num=10
x=1;
n=0;
prime_sum=0;
while(1):
    c=0;
    for j in range(1,x+1):
        a=x%j;
        if a==0:
            c=c+1;
    if c==2:
        prime_sum=prime_sum+j;
        n=n+1;
    if n==num:
         break;
    x=x+1;
          
print(prime_sum)

129

# 8. write a python program to implement arithmetic operations using nested if statement

In [134]:
num1 = int(input('Enter First number: '))
num2 = int(input('Enter Second number '))
add = num1 + num2
dif = num1 - num2
mul = num1 * num2
div = num1 / num2
floor_div = num1 // num2
power = num1 ** num2
modulus = num1 % num2
print('Sum of ',num1 ,'and' ,num2 ,'is =',add)
print('Difference of ',num1 ,'and' ,num2 ,'is =',dif)
print('Product of' ,num1 ,'and' ,num2 ,'is =',mul)
print('Division of ',num1 ,'and' ,num2 ,'is =',div)
print('Floor Division of ',num1 ,'and' ,num2 ,'is =',floor_div)
print('Exponent of ',num1 ,'and' ,num2 ,'is =',power)
print('Modulus of ',num1 ,'and' ,num2 ,'is =',modulus)

Enter First number: 10
Enter Second number 3
Sum of  10 and 3 is = 13
Difference of  10 and 3 is = 7
Product of 10 and 3 is = 30
Division of  10 and 3 is = 3.3333333333333335
Floor Division of  10 and 3 is = 3
Exponent of  10 and 3 is = 1000
Modulus of  10 and 3 is = 1

# 9. write a python program to take temperature in celcius and convert it into fahrenheit

In [135]:
celcius=float(input("enter the temperture in celcius : "))
fah=(celcius*1.8)+32;
print("Temperature in fahrenheit = ",fah)

enter the temperture in celcius : 36
Temperature in fahrenheit =  96.8

# 10. write a python program to find min and max element in the list without using in built functions

In [137]:
lst=[30,71,11,8,43,98,9,3]
min_val=lst[0]
max_val=lst[0]

for i in lst:
    if i>max_val:
        max_val=i;
    if i<min_val:
        min_val=i;
        
print("maximum value in the list = ",max_val)
print("minimum value in the list = ",min_val)

maximum value in the list =  98
minimum value in the list =  3